
body 
{
    background-color: aqua;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*Le style appliqué à la partie entière du cv*/
.corp_cv 
{
    position: relative;
    width: 900px;
    margin: 0px auto;
    max-width: 21cm;
    min-height: 29.7cm;
    background: rgb(255, 255, 255);
    display: grid ;
    grid-template-columns: 1fr 2fr ;

}

/*Début du style appliqué à la partie gauche du cv*/
.partie_gauche 
{
    position :relative;
    background-color: brown;
    
}
/*Le style appliqué à l'image*/
.photo_profil 
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;

}
.image 
{
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 90%;

}
/*Le style appliqué au titre*/
h1
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
/*Le style appliqué au contact*/
.contact 
{
    display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding-left: 10%;

}

/*Le style appliqué au reseaux*/
.sociau
{
    display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding-left: 10%;

}

/*Le style appliqué au langue*/
.langue
{
   margin-left: 10%;


}
.ligne {
    width: 150px;
    height: 5px;
    border-radius: 10px;
    box-sizing: content-box;
    background-color: rgb(39, 39, 38);
}
#progress1{
    width: 120px;
    height: 5px;
    border-radius: 10px;
    background-color: aliceblue;
}
#progress2{
    width: 90px;
    height: 5px;
    border-radius: 10px;
    background-color: aliceblue;
}
#progress3{
    width: 110px;
    height: 5px;
    border-radius: 10px;
    background-color: aliceblue;
}

/*Le style appliqué au loisirs*/
.loisir
{
    margin-left: 10%;
    line-height: 1.5;

}
.partie_gauche  span {
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
/*Fin du style appliqué à la partie gauche du cv*/


/*Début du style appliqué à la partie droite du cv*/
.partie_droite 
{
    position: relative;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

#nom {
     color: brown;
     text-align: left;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}
#a_propos 
{
    
    font-size: larger;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.exp 
{
    text-align: left;
    color:brown;
    margin-right: 1px;
    


}
.paragraphe 
{
    line-height: 1.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

span
 {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


/*Fin du style appliqué à la partie droite du cv*/

@media 
 (max-width:900px) {
    .corp_cv{
    grid-template-columns: repeat(1,1fr);
    }
}